$directions: (
  t: 'top',
  r: 'right',
  b: 'bottom',
  l: 'left'
);
$things: (
  p: 'padding',
  m: 'margin'
);
$sizes: '0', '1', '2', '4', '8', '16', '32', '64';

@each $d-key, $d-value in $directions {
  @each $t-key, $t-value in $things {
    @each $s in $sizes {
      .#{$t-key}#{$d-key}-#{$s} {
        #{$t-value}-#{$d-value}: #{$s}px;
      }
    }
  }
}

@each $t-key, $t-value in $things {
  @each $s in $sizes {
    .#{$t-key}-#{$s} {
      #{$t-value}: #{$s}px;
    }
  }
}

