* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

h1 {
  font-size: 8.5vw;
  font-weight: 700;

  @media (min-width: 570px) {
    font-size: 50px;
  }
}

a {
  color: inherit;

  &:link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.container {
  width: 800px;
  max-width: 100%;
  padding: 20vh 20px;
  margin: 0 auto;
}
