* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity 1000ms ease-in-out;
}

.page-enter, .page-leave-active {
  opacity: 0
}

.haas {
  font-family: neue-haas-grotesk-display, sans-serif;
}

.din {
  font-family: din-condensed, sans-serif;
}

html {
  &.enhanced {
    display: none;
  }

  &.wf-active {
    display: block;
  }
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.container {
  width: 800px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
